<% provide(:title, @title) %>
<%= render 'profile', user: @user %>
    <section class="stats">
      <% if @users.any? %>
          <h1 style="text-align: center"><%= @title %>:</h1>
            <% @users.each do |user| %>
                <%= render 'profile', user: user %>
            <% end %>
      <% end %>
    </section>